---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---


<!DOCTYPE html>
<html
>
  <Header title="Dimitri Delphin" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1 class="align">Concepteur expériences & systèmes</h1>
            </div>
          </main>
          <div>
          <section class="project-content-area">
							<div class="project-text">
								<p class="lead" style="margin-left: 200px;"></br>La pratique de Dimitri est initiée très jeune par la volonté d’exprimer au travers de projets ses propres difficultés émotionnelles qu’il a pu affronter dans ses expériences de vie. 
            Propres de ses acquis lors de ses études, il se tourne rapidement vers une approche vidéo interactive utilisant les capacités offertes par la programmation de contenus génératifs. </br>
            </br>
            Après des études en BTS Audiovisuel option montage et postproduction en 2013 en France, ainsi qu’un baccalauréat en communication option Médias Interactifs à l'UQÀM obtenu en 2016, 
            Dimitri est recruté par XYZ Technologie Culturelle et cadabra en tant que programmeur interactif, assistant directeur technique puis chargé de productions interactives. 
            Dimitri chapeaute alors une équipe de programmeurs et consolide la qualité des éléments interactifs. </br></br>
            À la suite d’un virage dans le milieu des studios de jeux vidéo, il décide d’entamer une maîtrise en recherche-création en média expérimentale en 2021. Fort de son passé en montage
            et postproduction, ses projets puisent toujours leurs racines à travers l’acquisition de contenus (vidéos, images, enregistrements sonores) qui sont ensuite réinjectés au travers de ses pièces 
            (Réinjection(s) Temporelle(s), 2022). Dimitri vise à explorer des questionnements universels au travers d'expériences singulières (Paysages Anxieux, 2021). 
            Ne cherchant pas à proposer de réponse, mais plutôt à activer de nouvelles réflexions (La Plage aux Crabes, 2023). Il divise depuis son temps entre sa recherche, sa pratique autour de l'incarnation des récits de maladie et des mandats de conceptions et productions en tant que consultant.
           </p>
							</div>

							<div class="project-media-grid">
								<figure class="project-figure">
									<img  src="/assets/dim.jpg"
                        loading="eager"
                        alt="Profile picture"
                        style="width:450px; height:auto; object-fit:cover;margin-left:50px;"
                        />
									<figcaption style="margin-left:50px"> <h4 style="font-size:10px">© Royal Gilbert</h4></figcaption>
								</figure>
							</div>
						</section>

          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>