---
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Sidebar from '../components/Sidebar.astro';
import { projects } from '../data/projects.js';
---

<!DOCTYPE html>
<html
>
  <Header title="Projets | Dimitri Delphin" />
  <body>
    <div class="content">
        <Sidebar selectedItem="Recherches et créations" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            
            
          </div>
          <div class="content-container">
           <div class="fold-content">
              <h1 class="align">Recherches et créations</h1>
            </div>
            <section class="items-container">
                <div class="resouce-items" >
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                        slug={project.slug}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
