---
const { title, desc, tech, slug } = Astro.props;
---

<div class="single-item">
  <h3>{slug ? <a href={`/projects/${slug}`}>{title}</a> : title}</h3>
  <div class="project-desc project-desc-list w-richtext">
    <ul role="list">
      {desc.map(item => <li>{item}</li>)}
    </ul>
  </div>

</div>
