---
const { selectedItem } = Astro.props;
---

<header
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="headbar w-nav"
>
  <div class="container">
    <div class="nav-content nav-content--headbar">
   

    <nav role="navigation" class="w-nav-menu">
       <a href="/" class="w-nav-brand" aria-label="home">
      <div class="niv-data">
        
        <div>
          <h2 style="margin-left: -1250px; font-size: 30px;">Dimitri Delphin</h2>
        </div>
      </div>
    </a>

      <a
        href="/"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'home' ? 'w--current' : ''
        }`}
      >
  
        <div style="font-size:20px">À propos</div>
      </a>
      <a
        href="/Projets"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'Recherches et créations' ? 'w--current' : ''
        }`}
      >
     
        <div style="font-size:20px">Recherches et créations</div>
      </a>
    

      
    </nav>

    <div
      class="navbar-icon-button w-nav-button"
      style="-webkit-user-select: text;"
      aria-label="menu"
      role="button"
      tabindex="0"
    >
      <img
        src="/assets/menu.svg"
        loading="eager"
        alt=""
        class="navbar-icon"
      />
    </div>
    </div>
  </div>

  <script>
    import { setupNav } from '../scripts/nav.js';
    
    let cleanup;
    document.addEventListener('astro:page-load', () => {
      if (cleanup) cleanup();
      cleanup = setupNav();
    });

    document.addEventListener('astro:before-swap', () => {
      if (cleanup) cleanup();
    });
  </script>
</header>
